<!-- HTMLHint Configuration -->
<!-- Suppressing specific rules for HTMLHint -->
<!-- htmlhint doctype-first:false -->
<!-- htmlhint attr-lowercase:false -->

<div class="main-page">
  <!-- Main Heading of the Page -->
  <h1>Welcome to myFlix!</h1>

  <!-- Button to Open User Registration Dialog -->
  <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
    Sign Up
  </button>

  <!-- Button to Open User Login Dialog -->
  <button mat-raised-button color="primary" (click)="openUserLoginDialog()" style="margin-right: 10px;">
    Login
  </button>

  <!-- Button to Navigate to All Movies Page -->
  <button mat-raised-button color="primary" (click)="goToAllMovies()" style="margin-right: 10px;">
    View All Movies
  </button>
</div>