<!-- htmlhint doctype-first:false -->
<!-- htmlhint attr-lowercase:false -->

<div class="movie-grid">
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    <mat-card-header>
      <mat-card-title>
        {{ movie.Title }}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="movie.ImagePath" alt="{{ movie.Title }}">
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="showDetail(movie)">
        Synopsis
      </button>
      <button mat-stroked-button color="accent" (click)="showGenre(movie.Genre.Name)">
        Genre
      </button>
      <button mat-stroked-button color="accent" (click)="showDirector(movie.Director.Name)">
        Director
      </button>
      <button mat-flat-button [color]="isFavCheck(movie) ? 'accent' : 'warn'" (click)="toggleFav(movie)">
        {{ isFavCheck(movie) ? 'Unfavorite' : 'Favorite' }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
