nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  background: linear-gradient(135deg, #0a4922, #e3f2fd);

  a {
    background: linear-gradient(135deg, #0a4922, #e3f2fd);
    text-decoration: none;
    padding: 10px;
  }

  .active {
    font-weight: bold;
  }
}
